.icon_chevrons-right {
    content: url('./assets/chevrons-right.svg');
}

.icon_chevron-right {
    content: url('./assets/chevron-right.svg');
}

.icon_search {
    content: url('./assets/search.svg');
}